## Détermination du nombre de jets privés atterrissant à Toulouse ###

In [1]:
import pandas as pd

### Chargement de la base de données de Toulouse

In [2]:
#Changer à la base de données de Toulouse 
data_toulouse = pd.read_csv('all_data_toulouse.csv')       #fichier contenant 4 semaines de 4 mois (une semaine par mois, les mois sont Septembre-Octobre-Novembre-Décembre)
data_toulouse

,Unnamed: 0.1,Unnamed: 0,tale_nb,type_avion,jet_prive,serial_nb,Flight_ID,timestamp_s,datetime,altitude,...,latitude,distance_aero,TAS,vertical_rate,indice_sonore,DECOLLAGE,ATTERRISSAGE,age_avion,nombre_passagers,icao_address
0,2.0,020111,CN-RGP,E190,Royal Air Maroc,19000681,RAM796L,"[1664563592, 1664560353, 1664560352, 166456035...","[Timestamp('2022-09-30 18:46:32'), Timestamp('...","[375, 375, 375, 375, 375, 375, 375, 375, 375, ...",...,"[43.62986755371094, 43.62986755371094, 43.6298...","[0.5531839318955496, 0.5531839318955496, 0.553...","[1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 4, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",79.102832,[],"[[1664560028, 1664560026, 1664560025, 16645600...",2014.0,NaN,NaN
1,3.0,020111,CN-RGP,E190,Royal Air Maroc,19000681,RAM797L,"[1664565929, 1664565914, 1664565913, 166456590...","[Timestamp('2022-09-30 19:25:29'), Timestamp('...","[37000, 37000, 37000, 37000, 37000, 37000, 370...",...,"[41.36873924126059, 41.42613815048993, 41.4261...","[334.1822275012099, 326.57800666403455, 326.57...","[548, 548, 548, 548, 548, 548, 548, 548, 547, ...","[256, -128, -192, 0, 0, 0, 0, 0, 64, -64, 64, ...",78.315665,"[[1664565807, 1664565771, 1664565769, 16645657...",[],2014.0,NaN,NaN
2,4.0,020118,CN-NMI,A320,Air Arabia,5206,MAC351,"[1664544087, 1664544083, 1664544082, 166454408...","[Timestamp('2022-09-30 13:21:27'), Timestamp('...","[425, 425, 425, 425, 425, 425, 425, 425, 425, ...",...,"[43.622891700873936, 43.622891700873936, 43.62...","[0.7135292366225129, 0.7135292366225129, 0.713...","[1, 1, 1, 1, 2, 2, 2, 3, 3, 4, 5, 5, 6, 7, 7, ...","[-64, -64, -64, -64, -64, -64, -64, -64, -64, ...",78.687915,[],"[[1664544087, 1664544083, 1664544082, 16645440...",2012.0,168.0,NaN
3,5.0,020118,CN-NMI,A320,Air Arabia,5206,MAC352F,"[1664562893, 1664548804, 1664548803, 166454879...","[Timestamp('2022-09-30 18:34:53'), Timestamp('...","[38000, 35000, 35000, 35000, 35000, 35000, 350...",...,"[41.057281494140625, 41.24894714355469, 41.248...","[286.63869243058986, 282.4390264440944, 282.43...","[348, 559, 559, 559, 559, 559, 559, 559, 559, ...","[0, -64, -64, -64, -64, -64, -64, 64, 64, 64, ...",77.122786,"[[1664548623, 1664548622, 1664548621, 16645486...",[],2012.0,168.0,NaN
4,9.0,02a198,TS-IMY,A20N,Unknown,Unknown,TAR282,"[1664575303, 1664572435, 1664572434, 166457243...","[Timestamp('2022-09-30 22:01:43'), Timestamp('...","[300, 300, 300, 300, 300, 300, 300, 300, 300, ...",...,"[43.62722105899099, 43.62722105899099, 43.6272...","[0.39980302561394837, 0.39980302561394837, 0.3...","[1, 1, 1, 1, 2, 3, 3, 3, 4, 4, 6, 6, 6, 6, 6, ...","[-64, -64, -64, -64, -64, -64, -64, -64, -64, ...",79.571223,[],"[[1664575303, 1664572435, 1664572434, 16645724...",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3109,137.0,4d228f,9H-QEA,B738,Unkown,44784,RYR201R,"[1664464948, 1664464944, 1664453243, 166445324...","[Timestamp('2022-09-29 15:22:28'), Timestamp('...","[34000, 34000, 34000, 34000, 34000, 34000, 340...",...,"[43.13213800979873, 43.130741442664196, 41.604...","[275.72158451265386, 276.5374271721641, 287.85...","[404, 404, 412, 410, 406, 406, 406, 406, 406, ...","[-64, -64, -64, -64, 0, 0, 0, 0, 0, 0, 0, -64,...",75.054599,"[[1664452734, 1664452731, 1664452730, 16644527...",[],2017.0,189.0,NaN
3110,138.0,4d228f,9H-QEA,B738,Unkown,44784,RYR2ZB,"[1664426346, 1664426337, 1664426324, 166442631...","[Timestamp('2022-09-29 04:39:06'), Timestamp('...","[39000, 39000, 39000, 39000, 39000, 39000, 390...",...,"[41.467254638671875, 41.52934446173199, 41.529...","[257.28917636541973, 250.37550783879712, 250.3...","[436, 436, 436, 436, 436, 436, 436, 436, 436, ...","[64, 64, 64, 64, 64, 0, 0, 0, 0, 0, -64, -64, ...",74.121463,"[[1664425929, 1664425927, 1664425926, 16644259...",[],2017.0,189.0,NaN
3111,139.0,4d228f,9H-QEA,B738,Unkown,44784,RYR3191,"[1664467071, 1664467069, 1664467068, 166446706...","[Timestamp('2022-09-29 15:57:51'), Timestamp('...","[700, 700, 700, 700, 700, 700, 700, 700, 700, ...",...,"[43.62326411877648, 43.62326411877648, 43.6232...","[0.770830736462543, 0.770830736462543, 0.77083...","[0, 0, 1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 3, 3, ...","[-128, -128, -128, -128, -128, -128, -128, -12...",76.765957,[],"[[1664467071, 1664467069, 1664467068, 16644670...",2017.0,189.0,NaN
3112,140.0,c06a76,C-GOIF,A21N,Unkown,Unkown,TSC582,"[1664446299, 1664446298, 1664446295, 166444629...","[Timestamp('2022-09-29 10:11:39'), Timestamp('...","[725, 725, 725, 725, 725, 725, 725, 725, 725, ...",...,"[43.62675476074219, 43.62675476074219, 43.6267...","[0.40335461953145346, 0.40335461953145346, 0.4...","[0, 0, 1, 1, 1, 2, 2, 2, 2, 3, 3, 4, 4, 4, 4, ...","[-128, -128, -128, -128, -128, -128, -128, -12...",77.542965,[],"[[1664446299, 1664446298, 1664446295, 16644462...",NaN,NaN,NaN
3113,141.0,c06a76,C-GOIF,A21N,Unkown,Unkown,TSC583,"[1664458587, 1664458586, 1664458585, 166445858...","[Timestamp('2022-09-29 13:36:27'), Timestamp('...","[30950, 30950, 30950, 30950, 30975, 30975, 309...",...,"[42.55125918630826, 42.55284196239407, 42.5528...","[334.78959764797634, 334.2338839513678, 334.23...","[437, 437, 437, 437, 437, 437, 437, 437, 437, ...","[-64, -64, -64, -64, -64, -64, -64, -64, -64, ...",76.447180,"[[1664458380, 1664458379, 1664458378, 16644583...",[],NaN,NaN,NaN

### Exemple : nombre d'avions EasyJet détectées

In [3]:
list_jet = data_toulouse.jet_prive
list_id = []
nb = 0
for i in range(len(list_jet)) :
    if (list_jet[i].__contains__('Easyjet') and (data_toulouse['Flight_ID'][i] not in list_id)) : 
        nb += 1
        list_id.append(data_toulouse['Flight_ID'][i])
        print('Flight ID : ' + data_toulouse['Flight_ID'][i])
print("Le nombre d'avions détectés est : " + str(nb))

Flight ID : EZY45MK
Flight ID : EZY92VL
Flight ID : EJU82PK
Flight ID : EJU84DV
Flight ID : EJU89YT
Flight ID : EJU1728
Flight ID : EJU348A
Flight ID : EJU48NF
Flight ID : EJU753E
Flight ID : EJU787Y
Flight ID : EJU951V
Flight ID : EJU4031
Flight ID : EJU415G
Flight ID : EJU595E
Flight ID : EJU858U
Flight ID : EZS23CG
Flight ID : EZS76CQ
Flight ID : EJU103Y
Flight ID : EJU135H
Flight ID : EJU324C
Flight ID : EJU484L
Flight ID : EJU854N
Flight ID : EJU892Z
Flight ID : EJU394Y
Flight ID : EJU782B
Flight ID : EJU502G
Flight ID : EJU898M
Flight ID : EJU357W
Flight ID : EJU719V
Flight ID : EJU732N
Flight ID : EJU893D
Flight ID : EJU194C
Flight ID : EJU308Z
Flight ID : EJU897G
Flight ID : EJU986W
Flight ID : EJU43DP
Flight ID : EJU91RD
Flight ID : EZY49DA
Flight ID : EZY97MQ
Flight ID : EJU182L
Flight ID : EJU542F
Flight ID : EJU127T
Flight ID : EJU478R
Flight ID : EJU747M
Flight ID : EJU815W
Flight ID : EJU693P
Flight ID : EJU75GB
Flight ID : EZS37MA
Flight ID : EZS46AE
Flight ID : EZY42GE
Flight ID : EZY68JU
Flight ID : EJU309Z
Flight ID : EJU425K
Flight ID : EJU109A
Flight ID : EJU45GD
Flight ID : EJU473N
Flight ID : EJU502T
Flight ID : EJU783Q
Flight ID : EJU809B
Flight ID : EJU38WU
Flight ID : EJU414E
Flight ID : EJU485K
Flight ID : EJU489Q
Flight ID : EJU548Y
Flight ID : EJU189R
Flight ID : EJU546J
Flight ID : EJU619L
Flight ID : EJU623J
Flight ID : EZY48CP
Flight ID : EZY52BC
Flight ID : EJU68EP
Flight ID : EJU784T
Flight ID : EJU81WY
Flight ID : EJU9047
Flight ID : EJU13NF
Flight ID : EJU43TB
Flight ID : EJU35GD
Flight ID : EJU3735
Flight ID : EJU3736
Flight ID : EZY78WB
Flight ID : EJU702L
Flight ID : EJU946V
Le nombre d'avions détectés est : 82

### Nombre de Jets

In [4]:
list_jet = data_toulouse.jet_prive
list_id = []
nb_jets = 0
for i in range(len(list_jet)) :
    if (list_jet[i].__contains__('Private') and (data_toulouse['Flight_ID'][i] not in list_id)) : 
        nb_jets += 1
        list_id.append(data_toulouse['Flight_ID'][i])
        print('Flight ID : ' + data_toulouse['Flight_ID'][i])
print("Le nombre d'avions détectés est : " + str(nb_jets))

Flight ID : FGBQB
Flight ID : FGSBJ
Flight ID : FHOLO
Flight ID : FGTPK
Le nombre d'avions détectés est : 4